argparse
black
box2d
colorama
coverage
cython
dtw-python
glfw
gym
isort
joblib
matplotlib
numpy
optuna
panda3d
pandas
prettyprinter
pytest
pytest-cov
pytest-xdist
pyyaml
scipy
seaborn
sphinx
sphinx-math-dollar
sphinx_rtd_theme
tabulate
tensorboard
tqdm
git+https://github.com/Xfel/init-args-serializer.git@master