name: Docker Image CI

on:
  push:
    branches: [ master, cicd ]
  pull_request:
    branches: [ master, cicd ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build the Docker image
        run: docker build . --file docker/Dockerfile.sacher --tag simurlacra:sacher
      - name: Execute tests
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
        run: |
          export COVPATH=$(realpath .)
          docker run --rm -i -v $COVPATH:/cov simurlacra:sacher conda run -n pyrado bash -c "pytest Pyrado/tests --cov=./Pyrado --cov-report=xml -n 3 --verbose -m 'not visualization and not longtime'; sudo cp ./coverage.xml /cov"
          sudo mkdir /home/user/
          sudo mkdir /home/user/SimuRLacra
          sudo ln -s $COVPATH /home/user/SimuRLacra
          cd Pyrado
      - uses: codecov/codecov-action@v1
        with:
          file: coverage.xml # optional
          flags: unittests # optional
          name: codecov-umbrella # optional
          fail_ci_if_error: true
