# Build all options
name: Publish Docker Images

on:
  push:
  pull_request:

jobs:
  build-images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        flavor: [blackforest]
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.PAT }}
      - name: Build
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .

          tags: |
            simurlacra/simurlacra:${{matrix.flavor}}
            ghcr.io/${{ github.repository_owner }}/simurlacra:${{matrix.flavor}}
          build-args: |
            OPTION=${{ matrix.flavor }}
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/simurlacra:${{matrix.flavor}}
          cache-to: type=inline
      - name: Execute tests
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
        run: |
          export COVPATH=$(realpath .)
          docker run --rm -i -v $COVPATH:/cov ghcr.io/${{ github.repository_owner }}/simurlacra:${{matrix.flavor}} conda run -n pyrado bash -c "pytest Pyrado/tests --cov=./Pyrado --cov-report=xml -n 4 --verbose -m 'not visualization'; sudo cp ./coverage.xml /cov"
          sudo mkdir /home/user/
          sudo mkdir /home/user/SimuRLacra
          sudo ln -s $COVPATH /home/user/SimuRLacra
          cd Pyrado
      - name: Send Coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: coverage.xml # optional
          flags: unittests # optional
          name: codecov-umbrella # optional
          fail_ci_if_error: true
